<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycbbs.crud.mapper.PermissionInfoMapper">

    <resultMap id="permissionInfoMap" type="com.ycbbs.crud.entity.PermissionInfo">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="url" property="url" />
        <result column="percode" property="percode" />
        <result column="parentid" property="parentid" />
        <result column="parentids" property="parentids" />
        <result column="sortstring" property="sortstring" />
        <result column="available" property="available" />
       <!--<association property=""-->
    </resultMap>

    <select id="getMenuInfo" parameterType="java.lang.String" resultMap="permissionInfoMap">
      SELECT * FROM sys_permission WHERE id IN(
        SELECT yc_permission_id FROM `sys_role_permission` WHERE yc_role_id IN(
            SELECT yc_role_id FROM `sys_user_role` WHERE yc_user_id=#{uid}
        )
      ) and type='menu'
    </select>

    <select id="getPermissionInfo" parameterType="java.lang.String" resultMap="permissionInfoMap">
        SELECT * FROM sys_permission WHERE id IN(
            SELECT yc_permission_id FROM `sys_role_permission` WHERE yc_role_id IN(
                SELECT yc_role_id FROM `sys_user_role` WHERE yc_user_id=#{uid}
            )
        ) and type='permission'
    </select>
</mapper>