<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycbbs.crud.mapper.RoleInfoMapper">


    <resultMap id="roleInfoMap" type="com.ycbbs.crud.entity.RoleInfo">
        <id column="roleid" property="id" />
        <result column="rolename" property="name" />
        <result column="deleted" property="deleted" />
        <!-- ofType指定permissionInfos集合中的对象类型 column表示级联查询的roleid-->
        <collection property="permissionInfos" ofType="com.ycbbs.crud.entity.PermissionInfo"
                    select="getByRolePermissionList" column="roleid">
        </collection>
       <!--<association property=""-->
    </resultMap>

    <!--查询角色以及角色权限-->
    <select id="getRolePermissionList" parameterType="com.ycbbs.crud.entity.querybean.QueryBeanRoleInfo"
            resultMap="roleInfoMap">
        SELECT a.id roleid,a.name rolename,a.deleted FROM sys_role a
        <where>
            <if test="keyword != null and keyword != ''">
                and a.name=#{keyword}
            </if>
            <if test="deleted != null and deleted != ''">
                and a.deleted=#{deleted}
            </if>
        </where>
        ORDER BY a.id
    </select>

    <resultMap id="permissionInfoMap" type="com.ycbbs.crud.entity.PermissionInfo">
        <id column="permissionid" property="id" />
        <result column="permissionname" property="name" />
    </resultMap>
    <!--查询角色的权限-->
    <select id="getByRolePermissionList" parameterType="java.lang.String"
            resultMap="permissionInfoMap">
        SELECT b.id permissionid,b.name permissionname,b.deleted FROM sys_role_permission a
        LEFT JOIN sys_permission b ON a.yc_permission_id=b.id
        WHERE b.deleted=0 and yc_role_id=#{roleid}
        ORDER BY b.id
    </select>

    <!--批量添加
        存在就更新REPLACE INTO 表名(字段1, 字段2, ...) VALUES(值1, 值2, ...), (值1, 值2, ...)
        存在就忽略INSERT IGNORE 表名
    -->
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO sys_role_permission
        (yc_role_id,yc_permission_id)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.ycRoleId},#{item.ycPermissionId})
        </foreach>
    </insert>

    <delete id="deleteBatch" parameterType="java.lang.String">
        delete FROM sys_role_permission where yc_role_id=#{roleid}
    </delete>
</mapper>