<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="jwtFilter" class="com.ycbbs.crud.shiro.filter.JWTFilter"/>
    <!-- Shiro 的Web过滤器 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager" />
        <!-- loginUrl认证提交地址，如果没有认证将会请求此地址进行认证，请求此地址将由formAuthenticationFilter进行表单认证 -->
        <property name="loginUrl" value="/"/>
        <!--通过unauthorizedUrl指定没有权限操作时跳转页面-->
        <!--<property name="unauthorizedUrl" value="/unauthorizedUrl"/>-->
        <!-- 自定义filter配置  -->
        <property name="filters">
            <map>
                <entry key="jwt" value-ref="jwtFilter"/>
            </map>
        </property>

        <!-- 过虑器链定义，从上向下顺序执行，一般将/**放在最下边 -->
        <property name="filterChainDefinitions">
            <value>
                <!-- 所有匿名访问 -->
                /login = anon
                /validateUserName = anon
                /loginApp = anon
                /register = anon
                /rememberMe = anon
                /validateEmail = anon
                /validateTelephone = anon
                /validatePassword = anon
                /validateConfirmPassWord = anon
                /index.jsp = anon
                /active = anon
                / = anon
                /logout = anon
                /permission/menuList = anon

                <!--以下为暂时放开为匿名方式-->
                <!--/ycbbs/exmcourse/* = anon-->
                <!--/ycbbs/role/* = anon-->

                <!--退出,请求 /logout地址，shiro去清除session-->
                <!--/logout = logout-->
                <!--还有验证码的路径需要放开-->
                <!--所有的都需要认证-->
                /** = jwt
            </value>
        </property>
    </bean>

    <!-- 安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="authRealm" />
        <!-- 注入缓存管理器 -->
        <!--<property name="cacheManager" ref="cacheManager"/>-->
        <!-- 注入session管理器 -->
        <property name="sessionManager" ref="sessionManager" />
    </bean>

    <!-- 自定义 realm -->
    <bean id="authRealm" class="com.ycbbs.crud.shiro.realm.AuthRealm">
        <property name="authenticationCachingEnabled" value="true"/>
        <property name="authorizationCachingEnabled" value="true"/>
        <property name="authenticationCacheName" value="authenticationCache"/>
        <property name="authorizationCacheName" value="authorizationCache"/>
    </bean>

    <!-- 加缓存管理器,直接注入到securityManager安全管理器即可 -->
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <!--创建一个缓存xml-->
        <property name="cacheManagerConfigFile" value="classpath:shiro-ehcache.xml"/>
    </bean>


    <!-- 会话管理器，暂时没有用到 -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <!-- session的失效时长，单位毫秒 -->
        <property name="globalSessionTimeout" value="600000"/>
        <!-- 删除失效的session -->
        <property name="deleteInvalidSessions" value="true"/>
    </bean>

    <!--&lt;!&ndash;自动代理&ndash;&gt;-->
    <!--<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator">-->
        <!--<property name="proxyTargetClass" value="true"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash;使授权注解起作用&ndash;&gt;-->
    <!--<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">-->
        <!--<property name="securityManager" ref="securityManager"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash;Shiro生命周期处理器&ndash;&gt;-->
    <!--<bean class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>-->

</beans>

